For Q2, we will attempt to classify if the job is data science related using only the job description feature.

The data will first be labelled with some keywords in the job title column.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter

%matplotlib inline

In [2]:
jobs = pd.read_pickle('jobs2.pkl')
jobs

,job_title,company,location,job_desc,full_time,part_time,temporary,internship,contract,permanent,salary
0,Product Lead,unavailable,Tiong Bahru Estate,Mission: Your mission is to build a world cl...,0,0,0,0,0,0,NaN
1,Product Manager,99.co,Singapore,99.co is looking for an experienced Product Ma...,0,0,0,0,0,0,7800.0
2,Regional Marketing Manager GC GCMS,Thermo Fisher Scientific,Woodlands,Job Description Job Title: Regional Marketing ...,0,0,0,0,0,0,NaN
3,Regional Product Specialist Insurance,unavailable,Outram,The Job: Reporting directly to the Regional ...,1,0,0,0,0,1,NaN
4,Interchange and Pricing Analyst,Adyen,Singapore,Adyen is looking for a Interchange & Pricing A...,0,0,0,0,0,0,NaN
5,VP Data Analyst GTO,United Overseas Bank,Singapore,Functional area: Business Technology Services ...,0,0,0,0,0,0,NaN
6,Desktop Engineer,unavailable,Singapore,"Be a ‘roaming’ engineer, moving to and coverin...",1,0,0,0,0,1,NaN
7,Consultant Senior Consultant Banking Business...,Synpulse,Singapore,"Responsibilities: Conduct research, data coll...",0,0,0,0,0,0,NaN
8,R&D Programme Manager,ST Electronics (Satcom & Sensor Systems) Pte Ltd,Singapore,"Job Responsibilities: Project planning, manage...",0,0,0,0,0,0,NaN
9,Associate Specialist Cybersecurity DSP CLT ...,MSD,Singapore,The trainee will undergo a 9 - 12-month progr...,0,0,0,0,0,0,NaN
10,Technical Lead IT Client Information Associa...,Bank of Singapore,Singapore,Salary: Competitive Singapore Job Type: Perm...,1,0,0,0,0,1,NaN
11,Data Scientist,Asia Fusion Technology,Singapore,You will play a key role in the data analytic ...,0,0,0,0,0,0,NaN
12,Technical Analyst,NTT DATA Business Solutions Singapore,Bishan New Town,As the leading analytics provider in APAC and ...,0,0,0,0,0,0,NaN
13,Associate Medical Account Executive Diabetics...,MSD,Singapore,"Detail, promote and sell MSD’s products to doc...",0,0,0,0,0,0,NaN
14,Engineer Snr Engineer IPTV,StarHub,Queenstown,"Engineer/ Snr Engineer, IPTV - (16000079) Desc...",0,0,0,0,0,0,NaN
15,Threat Analyst Research Operations Business...,Facebook,Singapore,(Singapore) Facebook's mission is to give peop...,0,0,0,0,0,0,NaN
16,Senior Director Head of Business Solutions ...,Visa,Singapore,Job Description Responsible for leading all m...,0,0,0,0,0,0,NaN
17,Human Resources Corporate Functions Recruitme...,JP Morgan Chase,Singapore,This high profile specialist role will focus o...,0,0,0,0,0,0,NaN
18,Consultant Insurance Industry Junior level Bu...,RGF,Singapore,Roles Engage in business improvement and/or I...,0,0,0,0,0,0,NaN
19,Operations Program Manager Network Performan...,Facebook,Singapore,(Singapore) Facebook's mission is to give peop...,0,0,0,0,0,0,NaN
20,PM: Intelligent Mapping Services,WeWork,Singapore,"We are looking for a motivated, thorough, expe...",0,0,0,0,0,0,NaN
21,Regional Offshore Manager,unavailable,Clementi,DNV GL is the world’s leading classification s...,1,0,0,0,0,1,NaN
22,Software Engineer IBM Center for Blockchain I...,IBM,Central Singapore,Job Description IBM Research is seeking highly...,0,0,0,0,0,0,NaN
23,System Analyst,Centre for Strategic Infocomm Technologies (CSIT),Singapore,"Develop solutions for data management, data an...",0,0,0,0,0,0,NaN
24,Data Scientist ML Python coding perm in B...,David & Goliath Pte Ltd,Singapore,We are looking for gamechangers who are famili...,1,0,0,0,0,1,NaN
25,Product Analytics Manager GBI,Oracle,Outram,The Global Business Intelligence team is a key...,1,0,0,0,0,1,NaN
26,Product Marketing Manager Advertising Solutions,Appier,Singapore,"Regional Product Marketing Manager, Advertisin...",0,0,0,0,0,0,NaN
27,VP APAC Business Development Operations and S...,TripAdvisor,Singapore,TripAdvisor is seeking a unique individual to ...,0,0,0,0,0,0,NaN
28,Production Engineer,TRUSSCO PTE LTD,Ang Mo Kio,The Production Supervisor manages production o...,1,0,0,0,0,1,NaN
29,Product Analyst,New Step Search Pte Ltd,Central Business District,Job SummaryOur client is an innovative Singapo...,1,0,0,0,0,1,7000.0
...,...,...,...,...,...,...,...,...,...,...,...
2984,Business Analyst,M1 Limited,Jurong,Job ID: MKT-BA-MSP-4 Job Type: Full Time ...,0,0,0,0,0,0,NaN
2985,Supply Planner,ExxonMobil,Singapore,Responsibilities: • Lead cross functional tea...,0,0,0,0,0,0,NaN
2986,Solutions Architect Deep learning,NVIDIA,Singapore,We are now looking for a Senior Solutions Arch...,0,0,0,0,0,0,NaN
2987,Data Scientist Data Analyst Manager – Digi...,TRIBE GLOBAL SEARCH,Singapore,Job SummaryData Scientist / Data Analyst (Mana...,1,0,0,0,0,1,NaN
2988,Exhibition Sales Executive Manager,Spire Events Pte Ltd,Tanjong Pagar,The Exhibition Sales Executive / Manager is re...,0,0,0,0,0,0,NaN
2989,Engineering Manager API Platform team,Grab Taxi,Singapore,Get to know our Team: Come join the team tha...,0,0,0,0,0,0,NaN
2990,Data Scientist,HP,Singapore,HP is a proven leader in personal systems and ...,0,0,0,0,0,0,NaN
2991,Associate Director FCC Controls Governance,unavailable,Singapore,Business (Responsibilities related to the deli...,0,0,0,0,0,0,NaN
2992,Director of Digital Analytics,Chris Consulting Pte Ltd,Singapore,Accountable for leading a team of Digital Anal...,0,0,0,0,0,0,NaN
2993,T – Technical Consultant,Cognizant,Singapore,Job Summary: - Experience: -8 to 12 Yrs Wo...,0,0,0,0,0,0,NaN
2994,Back up Engineer,Agoda,Singapore,We are looking for a Backup engineer to work o...,1,0,0,0,0,1,NaN
2995,IT Admin,ST Recruitment Centre,Jurong East,FULL-TIME/IT ADMIN (CUSTOMER SUPPORT) IMMEDI...,1,0,0,0,0,1,NaN
2996,Process Technician,Dyson,Singapore,We are looking for an experienced Process Tech...,0,0,0,0,0,0,NaN
2997,Senior Advisor Risk Data Modelling,FIS,Singapore,Responsibilities Building and implementing th...,0,0,0,0,0,0,NaN
2998,Research Engineer: Solar Energy Systems,Solar Energy Research Institute of Singapore,Queenstown,SERIS Department : Solar Energy Systems (SES) ...,0,0,0,0,0,0,NaN
2999,Murex Project Manager,Sciente,Singapore,Seeking a meticulous and drivenÂ ProjectÂ Mana...,0,0,0,0,0,0,NaN
3000,Business Analyst Pricing,Manpower,Singapore,"- Work closely with business users, external v...",1,0,0,0,0,1,NaN
3001,Research Associate,unavailable,Jurong,Data Scientist / Programmer for Regional ATM M...,0,0,0,0,1,0,NaN
3002,Engineer,Forum Energy Technologies,Singapore,Job Description:Purpose: Assist in the design ...,0,0,0,0,0,0,NaN
3003,Engineer MEMS,GLOBALFOUNDRIES,Tampines,Responsibilities: Work with a cross functiona...,0,0,0,0,0,0,NaN
3004,Project Manager Applications,Sciente,Singapore,Seeking a meticulous and driven Project Manage...,0,0,0,0,0,0,NaN
3005,APAC CRM & Data Manager,Michael Page,Singapore,Regional role Permanent role About Our Clien...,1,0,0,0,0,1,NaN
3006,Senior Sales Manager MICE,Fairmont Singapore & Swissôtel The Stamford,Singapore,"Senior/Sales Manager, MICE Primary Location :...",0,0,0,0,0,0,NaN
3007,Business Analyst APACx,Uber,Singapore,About Uber We’re changing the way people think...,0,0,0,0,0,0,NaN
3008,SYSTEMS ANALYST DIGITAL,unavailable,Outram,Convertium is one of Singapore's most establis...,0,0,0,0,0,0,NaN
3009,Sales Business Officer,POWER INDUSTRIES SERVICES Pte Ltd,Singapore,The position shall be responsible Meeting regu...,1,0,0,0,0,1,NaN
3010,Airline Business Solution Consultant,unavailable,Pasir Ris,"PURPOSE Achieve the strategic, financial and...",0,0,0,0,0,0,NaN
3011,Senior Data Scientist Singapore,Aspire HK,Singapore,Time to work with Kaggle champs and an award-w...,1,0,0,0,0,1,NaN
3012,Technical Sales Specialist,Thermo Fisher Scientific,Woodlands,Job Description Responsible to provide techni...,0,0,0,0,0,0,NaN
3013,TPCE PEEI Process Engineer,Apple,Toa Payoh,Job Description: As a Backend End Central Te...,1,0,0,0,0,1,NaN

In [3]:
jobs['datascience_job'] = 0

In [4]:
# Using the job title lets label whether our data is a data science related job
for idx, title in zip(jobs['job_title'].index, jobs['job_title'].values):
    if 'data' in title.lower() and 'analyst' in  title.lower():
        jobs.iat[idx, -1] = 1
    elif 'data' in title.lower() and 'scientist' in  title.lower():
        jobs.iat[idx, -1] = 1
    elif 'data' in title.lower() and 'engineer' in  title.lower():
        jobs.iat[idx, -1] = 1
    elif 'business' in title.lower() and 'analyst' in  title.lower():
        jobs.iat[idx, -1] = 1
    elif 'business' in title.lower() and 'intelligence' in  title.lower():
        jobs.iat[idx, -1] = 1
    elif 'machine learning' in title.lower() or 'deep learning' in title.lower() or 'ml' in title.lower():
        jobs.iat[idx, -1] = 1
    elif 'artificial intelligence' in title.lower() or 'ai' in title.lower():
        jobs.iat[idx, -1] = 1
    else:
        jobs.iat[idx, -1] = 0

In [5]:
jobs['datascience_job'].value_counts()

0    2160
1     854
Name: datascience_job, dtype: int64

In [6]:
pd.to_pickle(jobs, 'jobs_ds')

In [7]:
X = jobs.loc[:, 'job_desc']
y = jobs.loc[:, 'datascience_job']

In [8]:
# Using the textacy package to do some more comprehensive preprocessing
from textacy.preprocess import preprocess_text

clean_jd = [preprocess_text(desc, fix_unicode=True, lowercase=True, transliterate=False,
                              no_urls=True, no_emails=True, no_phone_numbers=True, no_currency_symbols=True,
                              no_punct=True, no_accents=True)
              for desc in X]

In [9]:
# Preprocess our text data to Tfidf
tfv = TfidfVectorizer(ngram_range=(1,4), max_features=2500)
X_jd = tfv.fit_transform(clean_jd).toarray()
X_dfjd = pd.DataFrame(X_jd, columns=tfv.get_feature_names())
print(X_dfjd.shape)

(3014, 2500)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_dfjd, y, test_size = 0.25)

In [11]:
# majority class is 0
base_accuracy = 1 - y.mean()
print('Base Accuracy Score: ' + str(base_accuracy))

Base Accuracy Score: 0.7166556071665561

In [12]:
# Running Logistic Regression to classify test set:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

print('Accuracy Score: ' + str(logreg.score(X_test, y_test)))
print('=============================================================')
print('Classification Report:')
print(classification_report(y_test, y_pred))
print('=============================================================')
print('Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test, y_pred)))

Accuracy Score: 0.809018567639
=============================================================
Classification Report:
             precision    recall  f1-score   support

          0       0.81      0.95      0.87       524
          1       0.82      0.48      0.60       230

avg / total       0.81      0.81      0.79       754

=============================================================
Confusion Matrix:
     0    1
0  500   24
1  120  110

In [23]:
# Running Random forest with gridsearch to classify test set:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid = { 
           "n_estimators" : range(1,40,1),
           "max_depth" : range(1,40,1),
}

rfc = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, verbose=1, n_jobs=3, scoring='f1')
rfc.fit(X_train, y_train)

best_rfc = rfc.best_estimator_
print('Best Parameters: ' + str(rfc.best_params_))
print('=============================================================')
print('Best Accuracy Score: ' + str(rfc.best_score_))
print('=============================================================')
print('Classification Report:')
print(classification_report(y_test, rfc.predict(X_test)))
print('=============================================================')
print('Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test, rfc.predict(X_test))))

Fitting 5 folds for each of 1521 candidates, totalling 7605 fits

[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:   15.6s
[Parallel(n_jobs=3)]: Done 194 tasks      | elapsed:   28.5s
[Parallel(n_jobs=3)]: Done 444 tasks      | elapsed:   50.0s
[Parallel(n_jobs=3)]: Done 794 tasks      | elapsed:  1.4min
[Parallel(n_jobs=3)]: Done 1244 tasks      | elapsed:  2.2min
[Parallel(n_jobs=3)]: Done 1794 tasks      | elapsed:  3.4min
[Parallel(n_jobs=3)]: Done 2444 tasks      | elapsed:  5.1min
[Parallel(n_jobs=3)]: Done 3194 tasks      | elapsed:  7.2min
[Parallel(n_jobs=3)]: Done 4044 tasks      | elapsed:  9.9min
[Parallel(n_jobs=3)]: Done 4994 tasks      | elapsed: 13.3min
[Parallel(n_jobs=3)]: Done 6044 tasks      | elapsed: 17.5min
[Parallel(n_jobs=3)]: Done 7194 tasks      | elapsed: 22.3min
[Parallel(n_jobs=3)]: Done 7605 out of 7605 | elapsed: 24.2min finished

Best Parameters: {'max_depth': 37, 'n_estimators': 38}
=============================================================
Best Accuracy Score: 0.644860752215
=============================================================
Classification Report:
             precision    recall  f1-score   support

          0       0.81      0.96      0.88       532
          1       0.83      0.45      0.58       222

avg / total       0.82      0.81      0.79       754

=============================================================
Confusion Matrix:
     0    1
0  512   20
1  122  100

## Handling the imbalance in class labels

### Undersampling the majority class

In [13]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(ratio='majority', random_state=1)
X_train_rus, y_train_rus = rus.fit_sample(X_train, y_train)

print("Distribution of class labels before resampling {}".format(Counter(y_train)))
print("Distribution of class labels after resampling {}".format(Counter(y_train_rus)))

Distribution of class labels before resampling Counter({0: 1636, 1: 624})
Distribution of class labels after resampling Counter({0: 624, 1: 624})

In [14]:
# Running Logistic Regression to classify test set:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

logreg = LogisticRegression()
logreg.fit(X_train_rus,  y_train_rus)

y_pred = logreg.predict(X_test)

print('Accuracy Score: ' + str(logreg.score(X_test, y_test)))
print('=============================================================')
print('Classification Report:')
print(classification_report(y_test, y_pred))
print('=============================================================')
print('Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test, y_pred)))

Accuracy Score: 0.831564986737
=============================================================
Classification Report:
             precision    recall  f1-score   support

          0       0.91      0.84      0.87       524
          1       0.69      0.81      0.75       230

avg / total       0.84      0.83      0.84       754

=============================================================
Confusion Matrix:
     0    1
0  440   84
1   43  187

In [18]:
# Running Random forest with gridsearch to classify test set:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid = { 
           "n_estimators" : range(1,40,1),
           "max_depth" : range(1,40,1),
}

rfc = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, verbose=1, n_jobs=3, scoring='f1')
rfc.fit(X_train_rus, y_train_rus)

best_rfc = rfc.best_estimator_
print('Best Parameters: ' + str(rfc.best_params_))
print('=============================================================')
print('Best Accuracy Score: ' + str(rfc.best_score_))
print('=============================================================')
print('Classification Report:')
print(classification_report(y_test, rfc.predict(X_test)))
print('=============================================================')
print('Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test, rfc.predict(X_test))))

Fitting 5 folds for each of 1521 candidates, totalling 7605 fits

[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    3.1s
[Parallel(n_jobs=3)]: Done 194 tasks      | elapsed:   11.5s
[Parallel(n_jobs=3)]: Done 444 tasks      | elapsed:   25.7s
[Parallel(n_jobs=3)]: Done 794 tasks      | elapsed:   49.6s
[Parallel(n_jobs=3)]: Done 1244 tasks      | elapsed:  1.3min
[Parallel(n_jobs=3)]: Done 1794 tasks      | elapsed:  2.1min
[Parallel(n_jobs=3)]: Done 2444 tasks      | elapsed:  3.1min
[Parallel(n_jobs=3)]: Done 3194 tasks      | elapsed:  4.3min
[Parallel(n_jobs=3)]: Done 4044 tasks      | elapsed:  5.8min
[Parallel(n_jobs=3)]: Done 4994 tasks      | elapsed:  7.4min
[Parallel(n_jobs=3)]: Done 6044 tasks      | elapsed:  9.3min
[Parallel(n_jobs=3)]: Done 7194 tasks      | elapsed: 11.4min
[Parallel(n_jobs=3)]: Done 7605 out of 7605 | elapsed: 12.2min finished

Best Parameters: {'max_depth': 22, 'n_estimators': 38}
=============================================================
Best Accuracy Score: 0.782913449934
=============================================================
Classification Report:
             precision    recall  f1-score   support

          0       0.90      0.78      0.84       524
          1       0.62      0.80      0.69       230

avg / total       0.81      0.79      0.79       754

=============================================================
Confusion Matrix:
     0    1
0  410  114
1   47  183

A better accuracy score than baseline is achieved for both logistic regression and random forest after undersampling the majority class. 

Logistic regression seems to be the better model for predicting. It achieved better results for all the metrics being considered.